---
---

@import "layout";
@import "bootstrap";

// Color Scheme

$dark-purple: #45145a;
$electric-purple: #7500a5;
$light-purple: #7322c8;
$dark-blue: #3860e0;
$light-blue: #5bacee;
$charcoal: #01080F;

body {
  background-color: $dark-purple;
  padding: 40px;
}

#agenda {
  background-color: #fff;
  padding: 20px;
}

#clock {
  display: none;

  line.hour {
    stroke-width: 5px;
    stroke: #333;
  }

  line.minute {
    stroke-width: 3px;
    stroke: #888;
  }

  line.second {
    stroke-width: 2px;
    stroke: #bb0000;
  }
}

#current-session {

}
