---
---

@import "layout";
// import bootstrap
@import "bootstrap";

// Color Scheme

$dark-purple: #45145a;
$electric-purple: #7500a5;
$light-purple: #7322c8;
$dark-blue: #3860e0;
$light-blue: #5bacee;
$charcoal: #01080F;


#masthead {
  background-image: url("../images/hero_1.jpg");
  background-size: cover;
  margin-top: $navbar-height;
  padding-top: 150px;
  padding-bottom: 100px;
  text-align: center;
  width: 100%;
}
#navigation {
  position: relative;
  float: left;
  width: 139px;
}

#top-navbar {
  text-align: center;
}

.navbar-inverse #navbar .navbar-nav>li>a {
  color: white;

  &:hover, &:focus {
    background-color: $electric-purple;
  }
}

@media (min-width: 768px) {
  #navbar .navbar-nav {
    width: 100%;

    li {
      float: none;
      display: inline-block;
    }
  }
}

#banner {
  background-color: $charcoal;
  color: white;
  padding: 20px 0;
  text-align: center;
}

#content {
  background-color: white;
}


/* Masthead Styles */
#masthead h1 {
  color: white;
}
#masthead h3 {
  color: white;
}

/* Navigation Styles */
#navigation ul {
  list-style-type: none;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}
#navigation li {
  display: block;
  margin: 0;
  padding: 0;
  border: 1px dotted #dfb8df;
  background-color: #dfb8df;
}
#navigation a {
  color: #402640;
  text-decoration: none;
  display: block;
  padding: 5px;
  border-bottom: 1px dotted #fff;
  background-color: #9cc7dc;
}
#navigation a:hover {
  color: #402640;
  text-decoration: none;
  background-color: #fff;
}
/* Content Styles */
#content h1,h2,{
  color: $dark-purple;
  text-align: center;
}
#content h3,h4,h5,h6, {
  color: $dark-purple;
}
#content p {
  color: $dark-purple;
  font-size: 16px;
}
#content img {
  padding: 5px;
  border: 1px solid #402640;
}
/* Footer Styles */
#footer {
  margin-top: 50px;
  text-align: center;
  clear: both;
  width: 100%;
  #footer-top {
    height: 150px;
    background-color: $electric-purple;
    img {
      padding: 20px;
    }
  }
  #footer-bottom {
    height: 150px;
    background-color: $dark-purple;
    position: relative;
    .byline {
      width: 100%;
      position: absolute;
      bottom: 0;
      padding: 20px;
      text-align: center;
      color: $white;
      font-size: .8em;
      a {
        color: $white;
      }
    }
  }
  p {
    a {
      color: #402640;
      text-decoration: underline;
    }
    a:hover {
      color: #dfb8df;
      text-decoration: underline;
    }
  }
}


/*Banner Styles */
#banner h3,h4,h5,h6 {
  color: white;
}

.container-fluid {
  padding: 0;
  width: 100%;
}

.col-md-4 {
  display: inline-block;
  vertical-align: middle;
}

.btn {
  border-color: $light-purple;
  border-radius: 0;
  background-color: $light-purple;
  color: white;
  margin: auto;
}

a.btn {
  text-decoration: none;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.style_bold {
  font-weight: bold;
}
.style_italic {
  font-style: italic;
}
.auto-style1 {
  text-align: center;
}
.auto-style2 {
  text-align: left;
}
.auto-style3 {
  text-indent: 0pt;
  line-height: 114%;
  text-align: left;
  font-family: Arial;
  font-size: 8.8888pt;
  color: black;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 9.0pt;
}
.auto-style4 {
  font-size: medium;
}
.auto-style5 {
  text-indent: 0pt;
  line-height: 114%;
  text-align: left;
  font-family: Arial;
  font-size: xx-large;
  color: black;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 9.0pt;
}
.auto-style6 {
  text-indent: 0pt;
  line-height: 114%;
  text-align: left;
  font-family: Arial;
  font-size: medium;
  color: black;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 9.0pt;
}
.auto-style1 {
  font-size: x-large;
  font-weight: normal;
}
.auto-style3 {
  font-weight: bold;
  font-size: xx-large;
}
.hotel-topper {
  padding-top: 25px;
}
