  </div><!--/#content-->
  <div id="footer">
    <p>
      <a href="http://kycc-wic.com/default.html">Home</a> |
      <a href="http://kycc-wic.com/agenda/default.html">Agenda</a> |
      <a href="./News_files/News.html">Registration</a> |
      <a href="http://kycc-wic.com/boone/default.html">Hotel</a> |
      <a href="http://kycc-wic.com/sponsors/default.html">Sponsors</a> |
      <a href="http://kycc-wic.com/faq/default.html">FAQ</a> |
      <a href="http://kycc-wic.com/contact/default.html">Contact</a>
    </p>
  </div>
</div><!--/#container-->
