  </div><!--/#content-->
  <div id="footer">
    <div id="footer-top">
      
    {% for post in site.categories.sponsors reversed %}
      <img src="{{ "/images/sponsors/" | prepend: site.baseurl }}{{post.logo_filename}}" width="150"/>
    {% endfor %}
    </div>
    <div id="footer-bottom">
      <div class="byline">
        Site by <a href="http://lexladiescode.org">LexLadiesCode <img src="{{ "../images/sponsors/lexladiescode.png" | prepend: site.baseurl }}" width="15"></a><br />  Registration by Thomas Papanicolaou, BCTC
      </div>
    </div>
  </div>
</div><!--/#container-->
