<div id="container" style="width: 713px">
  <div id="masthead">
    <h1 class="auto-style3"><strong>KYCC-WiC</strong></h1>
    <h3 class="auto-style1">Kentucky Community College - Women in Computing</h3>
  </div>
  <div id="navigation">
    <ul>
      <li><a href="http://kycc-wic.com/default.html">Home</a></li>
      <li><a href="http://kycc-wic.com/agenda/default.html">Agenda</a></li>
      <li><a href="./News_files/News.html" target="_blank">Registration</a></li>
      <li><a href="http://kycc-wic.com/boone/default.html">&nbsp;Hotel</a></li>
      <li><a href="http://kycc-wic.com/sponsors/default.html">Sponsors</a></li>
      <li><a href="http://kycc-wic.com/photos_from_conference/default.html">2013 Conference Photos</a></li>
      <li><a href="http://kycc-wic.com/faq/default.html">FAQ</a></li>
      <li><a href="http://kycc-wic.com/contact/default.html">Contact</a></li>
    </ul>
  </div>
  <div id="content">
