
<div class="row">
  <div class="col-md-4">
    <h3>2015 Registration Closed <small>April 2, 2015</small></h3>
    <p>
      Hope to see you next time!
    </p>
  </div>
  <div class="col-md-4">
    <h3>Early Bird Rates <small>Feb. 26, 2015</small></h3>
        <p>
Early bird rates through <strong>March 9:</strong><br />
       $15 for students              <br />
       $30 for faculty and professionals<br />
</p><p>
After <strong>March 9:</strong><br />
       $25 for students<br />
       $50 for faculty and professionals<br />
</p>
  </div>
  <div class="col-md-4">
    <h3>Call for posters! <small>Feb. 5, 2015</small></h3>
    <p>
      All students are invited to submit their poster by April 1, 2015. <a href="#call-for-posters">Read below</a> for more information.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Registration Open <small>Feb. 5, 2015</small></h3>
    <p>
      Registration for the celebration is now open. Please complete the form on the <a href="/registration/">Registration</a> page. Then follow the instructions to complete your registration with our external payment processor, Square.
    </p>
  </div>
  <div class="col-md-4">
    <h3>2015 Conference Announcement <small>Jan. 1, 2015</small></h3>
    <p>
        We are proud to announce that the 2nd KYCC-WiC Celebration will be held April 10 - 11, 2015 in Lexington, Kentucky. Please keep watching for updates about conference sessions and registration details.
    </p>
  </div>
</div>
