<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>KYCC-WIC 2015</title>
    <meta name="viewport" content="width=device-width">
    <script src="/js/node_modules/angular/angular.min.js"></script>
    <script src="/js/kiosk.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/kiosk.css">
    <link href="/css/lightbox.css" rel="stylesheet"  />
  </head>
  <body ng-app="agendaApp">
    {{ content }}
    <script src="/js/jquery-1.11.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/lightbox.min.js"></script>
  </body>
</html>
